{% extends 'auctions/layout.html' %}

{% block title %}
    Auctions | Categories
{% endblock %}

{% block body %}

    <h2 class="pb-3">Categories</h2>

    <ul class="list-unstyled">
        {% for category in categories %}
            <li class="shadow-sm p-4 mb-3 border-bottom text-center">
                <a href="{% url 'categoryPage' category %}">{{ category | upper }}</a>
            </li>
        {% empty %}
            <li>
                <p class="lead">No category added yet.</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}