{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="pb-3">Active Listings</h2>

    {% if not user.is_authenticated %}
        <p class="lead">
            Log in to use
        </p>
    {% else %}
        {% for listing in listings %}
            <ul class="list-unstyled">
                <li class="media shadow-sm mb-4 w-100 border">
                    {% if listing.imageURL %}
                        <div style="height: 300px; width: 700px;" class="bg-light mr-3">
                            <img class="img-fluid w-100 h-100" src="{{ listing.imageURL }}" alt="{{ listing.title }} Image" style="object-fit: contain;">
                        </div>
                    {% endif %}
                    <div class="media-body px-3 py-4">
                        <h5 class="mt-0">{{ listing.title }}</h5>
                        <p>{{ listing.description }}</p>
                        <p>
                            <strong>Price:</strong> ${{ listing.bid }}
                        </p>
                        <a href="{% url 'listings' listing.id %}" class="btn btn-primary">Visit</a>
                    </div>
                </li>
            </ul>
        {% empty %}
            <p class="lead">
                No auction listings added yet.
                <a href="{% url 'create_listing' %}">Click here to add</a>
            </p>
        {% endfor %}
    {% endif %}

{% endblock %}