{% extends "auctions/layout.html" %}

{% load humanize %}

{% block title %}
    Auctions | {{ listing.title }}
{% endblock %}

{% block body %}

    <!-- Listing details -->
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h2>Listing: {{ listing.title }}</h2>
            <small class="text-muted">Created {{ listing.time | naturaltime }}</small>
        </div>
        
        {% if winner %}
            <span class="badge badge-danger">Closed Auction</span>
        {% endif %}
        
        {% if watchlist.watchlist %}
            <span class="badge badge-secondary">Watchlist</span>
        {% endif %}
        
        {% if listing.imageURL %}
            <div class="bg-light mr-3 mt-2 w-100 border" style="height: 400px;">
                <img class="img-fluid w-100 h-100" src="{{ listing.imageURL }}" alt="{{ listing.title }} Image" style="object-fit: contain;">
            </div>
        {% endif %}
        <p class="lead mt-2">{{ listing.description }}</p>

        <h3 class="mb-3"><span>$</span>
            {{ listing.bid }}
        </h3>

        {% if winner.user == request.user %}
            <p class="text-success lead font-weight-bold">You won this auction!</p>
        {% endif %}
    </div>

    <!-- New bids -->
    <div>
        {% if not winner %}
            <span>{{ amountBids }} bid(s) so far.
                {% if currentBidUser == request.user %}
                    Your bid is the current bid.
                {% else %}
                    {{ currentBidUser }} owns the current bid.
                {% endif %}
            </span>

            <form action="{% url 'newBid' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-group mt-1">
                    {{ formNewBid }}
                    <input class="btn btn-primary mt-2" type="submit" value="Place Bid">
                </div>
            </form>
        {% endif %}
        <hr>
    </div>

    <!-- Other details -->
    <div>
        <h4>Details</h4>
        <ul>
            <li>Listed by: <strong>{{ listing.user }}</strong></li>

            {% if not listing.category %}
                <li>Category: No Category Listed</li>
            {% else %}
                <li>Category: {{ listing.category }}</li>
            {% endif %}
        </ul>
        <hr>
    </div>

    <!-- Comments -->
        <div>
            <h4>Comments</h4>
            {% for comment in comments %}
                <div class="card bg-light my-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">{{ comment.user }}</h5>
                            <small class="text-muted">{{ comment.time | naturaltime }}</small>
                        </div>
                        <p class="card-text">{{ comment.comment }}</p>
                    </div>
                </div>
            {% empty %}
                <p class="lead">No comments.</p>
                <hr>
            {% endfor %}

            {% if not winner %}
                <p class="lead">Add comment:</p>
                <form action="{% url 'comments' listing.id %}" class="form-group" method="post">
                    {% csrf_token %}
                    {{ formComments }}
                    <button type="submit" class="btn btn-outline-success mt-3">Add new Comment</button>
                </form>
                <hr>
            {% endif %}
        </div>

    <!-- Close auction and watchlist buttons -->
    <div class="d-flex">
        {% if listing.user == request.user and not winner %}
            <form action="{% url 'closeAuction' listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Close Auction</button>
            </form>
        {% endif %}

        {% if watchlist.watchlist != True %}
            <form action="{% url 'watchlist' %}" method="post" class="ml-1">
                {% csrf_token %}
                <input type="hidden" name="watchlist" value="add">
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <button type="submit" class="btn btn-secondary">Add to Watchlist</button>
            </form>
        {% else %}
            <form action="{% url 'watchlist' %}" method="post" class="ml-1">
                {% csrf_token %}
                <input type="hidden" name="watchlist" value="remove">
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <button type="submit" class="btn btn-warning">Remove from Watchlist</button>
            </form>
        {% endif %}
    </div>

{% endblock %}